name: Docker Image CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v4
    
    - name: Log in to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Convert username to lowercase
      id: lowercase
      run: echo "username=${GITHUB_ACTOR@L}" >> $GITHUB_OUTPUT
    
    - name: Build and push Docker image
      run: |
        IMAGE_TAG=${{ env.REGISTRY }}/${{ steps.lowercase.outputs.username }}/${{ github.event.repository.name }}:$(date +%s)
        docker build . --file Dockerfile --tag $IMAGE_TAG
        docker push $IMAGE_TAG
